In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [58]:
data=pd.read_csv("framingham_heart_disease.csv")

In [59]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [60]:
data.shape

(4238, 16)

In [61]:
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [62]:
data.drop(['education','currentSmoker'],axis=1,inplace=True)

In [63]:
data.isnull().sum()

male                 0
age                  0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [64]:
cigs=data['cigsPerDay']
glu=data['glucose']

In [65]:
cigs_mean=cigs.mean()
glu_mean=glu.mean()

In [66]:
data['cigsPerDay'].fillna(cigs_mean,inplace=True)
data['glucose'].fillna(glu_mean,inplace=True)

In [67]:
data.isnull().sum()

male                0
age                 0
cigsPerDay          0
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                19
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [68]:
data.dropna(axis=0,inplace=True)

In [69]:
data.isnull().sum()

male               0
age                0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [70]:
data.shape

(4117, 14)

In [71]:
heart_attack=data[data['TenYearCHD']==1]
no_heart_attack=data[data['TenYearCHD']==0]

In [72]:
data.groupby('TenYearCHD').mean()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
TenYearCHD,,,,,,,,,,,,,
0,0.415240,48.697489,8.680104,0.023116,0.003995,0.275114,0.019406,235.251142,130.258562,82.161102,25.664424,75.717466,80.777937
1,0.548124,54.109299,10.778150,0.063622,0.013051,0.500816,0.058728,245.205546,143.474715,87.088907,26.569869,76.608483,88.391033

In [73]:
x=data.drop('TenYearCHD',axis=1)

In [74]:
y=data['TenYearCHD']

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [94]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Mrunal Metkar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [95]:
y_pred=model.predict(x_test)

In [98]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8616504854368932

In [100]:
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(y_pred,y_test)
matrix

array([[1053,  167],
       [   4,   12]], dtype=int64)