In [2]:
import pandas as pd
import numpy as np
data =pd.read_csv('train.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [3]:
for i in data.columns:
    print(i,":",len(data[i].unique()))

X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12

In [4]:
df1=pd.get_dummies(data,drop_first=True).shape

In [5]:
data.X2.value_counts().sort_values(ascending=False)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
al       5
an       5
q        5
av       4
p        4
ah       4
au       3
l        1
am       1
c        1
o        1
ar       1
aa       1
j        1
af       1
Name: X2, dtype: int64

In [40]:
data.X3.value_counts().sort_values(ascending=False)

c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64

In [7]:
##As per KDD challenge, taking top 10 most frequent categories.

top10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [8]:
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [38]:
top10=[x for x in data.X3.value_counts().sort_values(ascending=False).head(10).index]

In [39]:
top10

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [10]:
for label in top10:
    data[label]=np.where(data['X2']==label,1,0)
data.head()

  X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0  v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
1  t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
2  w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
3  t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
4  v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0

In [17]:
data[top10].head()

   as  ae  ai  m  ak  r  n  s  f  e
0   0   0   0  0   0  0  0  0  0  0
1   0   0   0  0   0  0  0  0  0  0
2   0   0   0  0   0  0  1  0  0  0
3   0   0   0  0   0  0  1  0  0  0
4   0   0   0  0   0  0  1  0  0  0

In [16]:
data[['X2']+top10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [23]:
def one_hot_encoding(df,variable,top10_categories):
    for label in top10_categories:
        data[variable+'_'+label]=np.where(data[variable]==label,1,0)

In [30]:
def top_categories(data,variable):
    top10=[x for x in data[variable].value_counts().sort_values(ascending=False).head(10).index]
    return top10

In [31]:
data =pd.read_csv('train.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [32]:
one_hot_encoding(data,'X3',top_categories(data,'X3'))

In [34]:
data.head()

  X1  X2 X3 X4 X5 X6  X3_c  X3_f  X3_a  X3_d  X3_g  X3_e  X3_b
0  v  at  a  d  u  j     0     0     1     0     0     0     0
1  t  av  e  d  y  l     0     0     0     0     0     1     0
2  w   n  c  d  x  j     1     0     0     0     0     0     0
3  t   n  f  d  x  l     0     1     0     0     0     0     0
4  v   n  f  d  h  d     0     1     0     0     0     0     0

In [35]:
top_categories(data,'X3')

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [36]:
top_categories(data,'X2')

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']