In [15]:
import pandas as pd
import numpy as np
data =pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
df1=pd.get_dummies(data['State'],drop_first=True)

In [17]:
data=pd.concat([df1,data],axis=1)

In [18]:
data.head()

,Florida,New York,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,1,165349.20,136897.80,471784.10,New York,192261.83
1,0,0,162597.70,151377.59,443898.53,California,191792.06
2,1,0,153441.51,101145.55,407934.54,Florida,191050.39
3,0,1,144372.41,118671.85,383199.62,New York,182901.99
4,1,0,142107.34,91391.77,366168.42,Florida,166187.94

In [19]:
data.drop('State',axis=1,inplace=True)

In [20]:
x=data.iloc[:,-1].values.reshape(-1,1)
y=data.iloc[:,[5]].values.reshape(-1,1)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [22]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
y_pred=reg.predict(x_test)

In [24]:
y_pred

array([[ 81229.06],
       [166187.94],
       [192261.83],
       [ 99937.59],
       [125370.37],
       [ 14681.4 ],
       [191050.39],
       [156991.12],
       [ 81005.76],
       [107404.34],
       [ 96479.51],
       [ 64926.08],
       [191792.06],
       [ 35673.41],
       [101004.64]])

In [25]:
from sklearn.metrics import r2_score

In [26]:
sc=r2_score(y_test,y_pred)

In [27]:
sc

1.0

In [28]:
y_test

array([[ 81229.06],
       [166187.94],
       [192261.83],
       [ 99937.59],
       [125370.37],
       [ 14681.4 ],
       [191050.39],
       [156991.12],
       [ 81005.76],
       [107404.34],
       [ 96479.51],
       [ 64926.08],
       [191792.06],
       [ 35673.41],
       [101004.64]])