In [1]:
import pandas as pd
import numpy as np
data =pd.read_csv('train.csv',usecols=['X1','X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [3]:
data.shape

(4209, 2)

In [5]:
pd.get_dummies(data).shape           ##one hot encoding

(4209, 71)

In [7]:
len(data['X1'].unique())

27

In [8]:
len(data['X2'].unique())

44

In [11]:
frequency_count=data.X1.value_counts().to_dict()

In [12]:
data.X1=data.X1.map(frequency_count)

In [15]:
data.X1.head()

0    408
1     31
2     52
3     31
4    408
Name: X1, dtype: int64

In [16]:
data.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n

In [17]:
frequency_count=data.X2.value_counts().to_dict()
data.X2=data.X2.map(frequency_count)

In [18]:
data.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137