In [9]:
import datetime
import pandas as pd

In [2]:
today_date=datetime.datetime.today()

In [5]:
today_date

datetime.datetime(2021, 7, 18, 21, 25, 38, 598420)

In [7]:
today_date-datetime.timedelta(2)

datetime.datetime(2021, 7, 16, 21, 25, 38, 598420)

In [11]:
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [14]:
data=pd.DataFrame(days)

In [15]:
data.columns=['Day']

In [16]:
data.head()

                         Day
0 2021-07-18 21:25:38.598420
1 2021-07-17 21:25:38.598420
2 2021-07-16 21:25:38.598420
3 2021-07-15 21:25:38.598420
4 2021-07-14 21:25:38.598420

In [17]:
data['weekday']=data['Day'].dt.weekday_name

In [18]:
data.head()

                         Day    weekday
0 2021-07-18 21:25:38.598420     Sunday
1 2021-07-17 21:25:38.598420   Saturday
2 2021-07-16 21:25:38.598420     Friday
3 2021-07-15 21:25:38.598420   Thursday
4 2021-07-14 21:25:38.598420  Wednesday

In [19]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [20]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [21]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

In [22]:
data.head()

                         Day    weekday  weekday_ordinal
0 2021-07-18 21:25:38.598420     Sunday                7
1 2021-07-17 21:25:38.598420   Saturday                6
2 2021-07-16 21:25:38.598420     Friday                5
3 2021-07-15 21:25:38.598420   Thursday                4
4 2021-07-14 21:25:38.598420  Wednesday                3