In [10]:
import pandas as pd
data=pd.read_csv("titanic_train.csv",usecols=['Cabin','Survived'])

In [11]:
data.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [12]:
data['Cabin'].fillna('Missing',inplace=True)

In [13]:
data['Cabin']=data['Cabin'].astype(str).str[0]

In [14]:
data['Cabin'].head()

0    M
1    C
2    M
3    C
4    M
Name: Cabin, dtype: object

In [15]:
data.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [16]:
data.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [21]:
mean_ordinal=data.groupby(['Cabin'])['Survived'].mean().to_dict()

In [22]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [24]:
data['mean_ordinal']=data['Cabin'].map(mean_ordinal)

In [ ]:
da