In [492]:
import pandas as pd
import numpy as np 
data_train=pd.read_csv('kc_house_train_data.csv')

In [493]:
data_test=pd.read_csv('kc_house_test_data.csv')

In [494]:
data_test.shape

(4229, 21)

In [495]:
data_train.shape

(17384, 21)

In [496]:
data_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [497]:
bedrooms_squared_train=data_train['bedrooms']*data_train['bedrooms']

In [498]:
bed_bath_rooms_train=data_train['bedrooms']*data_train['bathrooms']

In [499]:
log_sqft_living_train = np.log(data_train['sqft_living'])

In [500]:
lat_plus_long_train = data_train['lat']+data_train['long']

In [501]:
bedrooms_squared_test=data_test['bedrooms']*data_test['bedrooms']

In [502]:
bed_bath_rooms_test=data_test['bedrooms']*data_test['bathrooms']

In [503]:
log_sqft_living_test = np.log(data_test['sqft_living'])

In [504]:
lat_plus_long_test = data_test['lat']+data_test['long']

In [505]:
data_train['bedrooms_squared_train'],data_train['bed_bath_rooms_train'],data_train['log_sqft_living_train'],data_train['lat_plus_long_train']=bedrooms_squared_train,bed_bath_rooms_train,log_sqft_living_train,lat_plus_long_train

In [506]:
data_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared_train,bed_bath_rooms_train,log_sqft_living_train,lat_plus_long_train
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,9,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,9,6.75,7.851661,-74.5980
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720,8062,4,2.00,6.646391,-74.4951
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,98136,47.5208,-122.393,1360,5000,16,12.00,7.580700,-74.8722
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,98074,47.6168,-122.045,1800,7503,9,6.00,7.426549,-74.4282

In [507]:
data_test['bedrooms_squared_test'],data_test['bed_bath_rooms_test'],data_test['log_sqft_living_test'],data_test['lat_plus_long_test']=bedrooms_squared_test,bed_bath_rooms_test,log_sqft_living_test,lat_plus_long_test

In [508]:
data_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared_test,bed_bath_rooms_test,log_sqft_living_test,lat_plus_long_test
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780,12697,9,3.0,7.265430,-74.4732
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,0,98126,47.5714,-122.375,2140,4000,16,12.0,7.989560,-74.8036
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,0,98002,47.3048,-122.218,1030,4705,9,6.0,7.444249,-74.9132
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,0,98027,47.5391,-122.070,2580,3980,9,7.5,7.749322,-74.5309
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,0,98117,47.6889,-122.375,1570,5080,9,3.0,6.993933,-74.6861

In [509]:
mean_bedrooms_squared_test=data_test['bedrooms_squared_test'].mean()
mean_bed_bath_rooms_test=data_test['bed_bath_rooms_test'].mean()
mean_log_sqft_living_test=data_test['log_sqft_living_test'].mean()
mean_lat_plus_long_test=data_test['lat_plus_long_test'].mean()

In [510]:
mean_bedrooms_squared_test

12.4466777015843

In [511]:
mean_bed_bath_rooms_test

7.5039016315913925

In [512]:
mean_log_sqft_living_test

7.550274679645921

In [513]:
mean_lat_plus_long_test

-74.65333355403185

In [514]:
from sklearn.linear_model import LinearRegression
data_con1=np.c_[data_train['sqft_living'],data_train['bedrooms'],data_train['bathrooms'],data_train['lat'],data_train['long']]

In [515]:
x_train1=pd.DataFrame(data=data_con1,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long'])

In [516]:
y_train=data_train['price']

In [517]:
lin_reg1=LinearRegression()
lin_reg2=LinearRegression()
lin_reg3=LinearRegression()

In [518]:
lin_reg1.fit(x_train1,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [519]:
data_con2=np.c_[data_train['sqft_living'],data_train['bedrooms'],data_train['bathrooms'],data_train['lat'],data_train['long'],data_train['bed_bath_rooms_train']]
x_train2=pd.DataFrame(data=data_con2,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long','bed_bath_rooms_train'])
lin_reg2.fit(x_train2,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [520]:
data_con3=np.c_[data_train['sqft_living'],data_train['bedrooms'],data_train['bathrooms'],data_train['lat'],data_train['long'],data_train['bed_bath_rooms_train'],data_train['bedrooms_squared_train'],data_train['log_sqft_living_train'],data_train['lat_plus_long_train']]
x_train3=pd.DataFrame(data=data_con3,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long','bed_bath_rooms_train','bedrooms_squared_train','log_sqft_living_train','lat_plus_long_train'])
lin_reg3.fit(x_train3,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [521]:
print(lin_reg1.coef_,lin_reg1.intercept_)

[ 3.12258646e+02 -5.95865332e+04  1.57067421e+04  6.58619264e+05
 -3.09374351e+05] -69075726.79257019

In [522]:
print(lin_reg2.coef_,lin_reg2.intercept_)

[ 3.06610053e+02 -1.13446368e+05 -7.14613083e+04  6.54844630e+05
 -2.94298969e+05  2.55796520e+04] -66867968.8710792

In [523]:
print(lin_reg3.coef_,lin_reg3.intercept_)

[ 5.29422825e+02  3.45142336e+04  6.70607695e+04  2.23293922e+13
  2.23293913e+13 -8.57050329e+03 -6.78858756e+03 -5.61831484e+05
 -2.23293916e+13] -62036079.99706627

In [524]:
type(lin_reg3.coef_)

numpy.ndarray

In [525]:
type(data_con1)

numpy.ndarray

In [526]:
x0=np.ones((17384,1))

In [527]:
data_con11=np.column_stack((x0,data_con1))

In [528]:
data_con11.shape

(17384, 6)

In [529]:
new_lin_reg1_coef
#new_lin_reg1_coef=np.delete(new_lin_reg1_coef,6)
#new_lin_reg1_coef=np.delete(new_lin_reg1_coef,6)

array([ 3.12258646e+02, -5.95865332e+04,  1.57067421e+04,  6.58619264e+05,
       -3.09374351e+05, -6.20360800e+07])

In [530]:
#new_lin_reg1_coef=np.append(lin_reg1.coef_,lin_reg1.intercept_)

x01=data_con11.dot(new_lin_reg1_coef)

In [531]:
new_lin_reg1_coef.shape

(6,)

In [532]:
x01.shape

(17384,)

In [533]:
def get_residual_sum_of_squares(actual,predicted):
    RSS=((predicted-actual)**2).sum()
    RSS.shape
    return RSS

In [534]:
new_lin_reg2_coef
new_lin_reg2_coef=np.delete(new_lin_reg2_coef,6)

In [535]:
data_con22=np.column_stack((x0,data_con2))
new_lin_reg2_coef=np.append(lin_reg2.coef_,lin_reg2.intercept_)
x02=data_con22.dot(new_lin_reg2_coef)

In [536]:
lin_reg2.coef_

array([ 3.06610053e+02, -1.13446368e+05, -7.14613083e+04,  6.54844630e+05,
       -2.94298969e+05,  2.55796520e+04])

In [537]:
data_con33=np.column_stack((x0,data_con3))
#new_lin_reg3_coef=np.append(lin_reg3.coef_,lin_reg3.intercept_)
x03=data_con33.dot(new_lin_reg3_coef)

In [538]:
res_model1_train=get_residual_sum_of_squares(data_train['price'],x01)
res_model2_train=get_residual_sum_of_squares(data_train['price'],x02)
res_model3_train=get_residual_sum_of_squares(data_train['price'],x03)

In [539]:
new_lin_reg1_coef.shape

(6,)

In [540]:
new_lin_reg2_coef.shape

(7,)

In [541]:
new_lin_reg3_coef.shape

(10,)

In [542]:
print(res_model1_train,res_model2_train,res_model3_train)

9.633294699805964e+23 1.2255675422404413e+22 1.53829610328993e+34

In [543]:
data_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared_test,bed_bath_rooms_test,log_sqft_living_test,lat_plus_long_test
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780,12697,9,3.0,7.265430,-74.4732
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,0,98126,47.5714,-122.375,2140,4000,16,12.0,7.989560,-74.8036
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,0,98002,47.3048,-122.218,1030,4705,9,6.0,7.444249,-74.9132
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,0,98027,47.5391,-122.070,2580,3980,9,7.5,7.749322,-74.5309
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,0,98117,47.6889,-122.375,1570,5080,9,3.0,6.993933,-74.6861

In [544]:
data_con1_test=np.c_[data_test['sqft_living'],data_test['bedrooms'],data_test['bathrooms'],data_test['lat'],data_test['long']]
x_test1=pd.DataFrame(data=data_con1_test,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long'])
y_test1=lin_reg1.predict(x_test1)
data_con2_test=np.c_[data_test['sqft_living'],data_test['bedrooms'],data_test['bathrooms'],data_test['lat'],data_test['long'],data_test['bed_bath_rooms_test']]
x_test2=pd.DataFrame(data=data_con2_test,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long','bed_bath_rooms_test'])
y_test2=lin_reg2.predict(x_test2)
data_con3_test=np.c_[data_test['sqft_living'],data_test['bedrooms'],data_test['bathrooms'],data_test['lat'],data_test['long'],data_test['bed_bath_rooms_test'],data_test['bedrooms_squared_test'],data_test['log_sqft_living_test'],data_test['lat_plus_long_test']]
x_test3=pd.DataFrame(data=data_con3_test,columns=['sqft_living', 'bedrooms', 'bathrooms', 'lat','long','bed_bath_rooms_test','bedrooms_squared_test','log_sqft_living_test','lat_plus_long_test'])
y_test3=lin_reg3.predict(x_test3)

In [545]:
res_model1_test=get_residual_sum_of_squares(data_test['price'],y_test1)
res_model2_test=get_residual_sum_of_squares(data_test['price'],y_test2)
res_model3_test=get_residual_sum_of_squares(data_test['price'],y_test3)

In [546]:
print(res_model1_test,res_model2_test,res_model3_test)

225500469795491.8 223377462976468.2 259236155498243.2

In [547]:
y_test1

array([475157.63980041, 845336.99616392, 277856.39694303, ...,
       600860.21063249, 593638.03562061, 318146.49785171])

In [548]:
x_test1

      sqft_living  bedrooms  bathrooms      lat     long
0          1430.0       3.0       1.00  47.7558 -122.229
1          2950.0       4.0       3.00  47.5714 -122.375
2          1710.0       3.0       2.00  47.3048 -122.218
3          2320.0       3.0       2.50  47.5391 -122.070
4          1090.0       3.0       1.00  47.6889 -122.375
5          2620.0       4.0       2.50  47.5301 -122.180
6          4220.0       4.0       2.25  47.4450 -122.347
7          2250.0       4.0       2.50  47.3663 -122.114
8          1260.0       3.0       1.75  47.4366 -122.335
9          2750.0       4.0       2.00  47.7168 -122.287
10         1790.0       3.0       1.75  47.3511 -122.073
11         1900.0       4.0       2.50  47.3490 -122.031
12         1980.0       4.0       2.50  47.2897 -122.372
13         1960.0       3.0       1.75  47.3576 -122.277
14         2030.0       5.0       1.75  47.6417 -122.109
15         3230.0       4.0       2.50  47.3183 -122.253
16         2910.0       3.0       2.25  47.6897 -122.098
17         1170.0       3.0       2.25  47.6722 -122.381
18         2820.0       5.0       2.50  47.5707 -122.128
19         1060.0       3.0       1.00  47.7144 -122.351
20         2550.0       4.0       1.00  47.6354 -122.353
21         1250.0       3.0       1.00  47.3255 -122.304
22         2060.0       5.0       2.25  47.4877 -122.335
23         2020.0       3.0       2.00  47.4582 -122.023
24         2680.0       4.0       2.50  47.5650 -122.125
25         1560.0       3.0       1.75  47.4776 -122.337
26         3880.0       4.0       2.50  47.6477 -122.182
27         1120.0       3.0       2.50  47.6106 -122.310
28         1670.0       3.0       2.50  47.3505 -122.179
29         1940.0       3.0       2.50  47.3777 -122.165
...           ...       ...        ...      ...      ...
4199       2708.0       4.0       2.50  47.3413 -122.178
4200       1980.0       3.0       2.00  47.5524 -122.382
4201       1340.0       3.0       3.25  47.6904 -122.346
4202       1020.0       2.0       1.50  47.6800 -122.348
4203       2330.0       4.0       2.50  47.3590 -122.081
4204       3890.0       4.0       3.75  47.5052 -121.906
4205       3220.0       4.0       2.75  47.4863 -122.143
4206       3170.0       5.0       2.75  47.5933 -122.060
4207       2700.0       2.0       2.75  47.7236 -122.033
4208       1830.0       2.0       2.50  47.5779 -122.409
4209       1110.0       2.0       2.00  47.5494 -122.388
4210       5150.0       5.0       3.50  47.6249 -122.090
4211       2460.0       4.0       2.75  47.4828 -122.133
4212       4300.0       4.0       3.50  47.6258 -122.005
4213       3310.0       3.0       2.50  47.5178 -122.389
4214       1160.0       3.0       1.50  47.6538 -122.357
4215       2140.0       3.0       2.50  47.5370 -122.074
4216       2198.0       3.0       2.50  47.3906 -122.304
4217       1590.0       2.0       2.50  47.5489 -122.364
4218       2470.0       4.0       2.50  47.3622 -122.041
4219       3830.0       4.0       3.50  47.5990 -122.197
4220       3087.0       3.0       2.50  47.2974 -122.349
4221       1900.0       4.0       3.25  47.5869 -122.311
4222       1500.0       3.0       2.25  47.6785 -122.375
4223        710.0       2.0       1.00  47.6413 -122.329
4224       4170.0       5.0       3.75  47.5354 -122.181
4225       2500.0       4.0       2.75  47.3749 -122.107
4226       2520.0       4.0       2.50  47.5137 -122.167
4227       2310.0       4.0       2.50  47.5107 -122.362
4228       1020.0       2.0       0.75  47.5944 -122.299

[4229 rows x 5 columns]

In [549]:
l1=[res_model1_train,res_model2_train,res_model3_train]
l2=[res_model1_test,res_model2_test,res_model3_test]
min(l1)
min(l2)

223377462976468.2

In [550]:
min(l1)

1.2255675422404413e+22