In [1]:
import pandas as pd
import numpy as np 
data_train=pd.read_csv('kc_house_train_data.csv')

In [2]:
data_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
data_train.shape

(17384, 21)

In [4]:
x_sqft=data_train['sqft_living']
y_price=data_train['price']
type(x_sqft)

pandas.core.series.Series

In [5]:
def simple_linear_reg(x,y):
    n=len(x)
    first_m_term=n*((x*y).sum())
    sec_m_term=x.sum()*y.sum()
    thrd_m_term=n*((x**2).sum())
    fourth_m_term=(x.sum()**2)
    slope=(first_m_term-sec_m_term)/(thrd_m_term-fourth_m_term)
    intercept=y.mean()-slope*(x.mean())
    return slope,intercept

In [6]:
m,c=simple_linear_reg(x_sqft,y_price)

In [7]:
print(m,c)

281.9588396303425 -47116.07907289395

In [8]:
def get_regression_predictions(input_feature, m,c):
    predicted_output=m*input_feature+c
    return(predicted_output)

In [9]:
pred_2650=get_regression_predictions(2650,m,c)

In [10]:
pred_2650

700074.8459475136

In [11]:
def get_residual_sum_of_squares(x, y,m,c):
    RSS=((y-(c+m*x))**2).sum()
    return(RSS)

In [12]:
res_sumsqft=get_residual_sum_of_squares(x_sqft,y_price,m,c)

In [13]:
res_sumsqft

1201918354177283.0

In [24]:
def inverse_regression_predictions(y,m,c):
    estimated_input=(y-c)/m
    return(estimated_input)

In [25]:
pred_x_800000=inverse_regression_predictions(800000,m,c)

In [26]:
pred_x_800000

3004.396245152277

In [18]:
x_bedrooms=data_train['bedrooms']

In [19]:
m1,c1=simple_linear_reg(x_bedrooms,y_price)

In [20]:
print(m1,c1)

127588.95293398791 109473.17762295931

In [21]:
data_test=pd.read_csv('kc_house_test_data.csv')
data_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [22]:
x_test_sqft=data_test['sqft_living']
x_test_bedrooms=data_test['bedrooms']
y_test_price=data_test['price']
RSS_test_sqft_price=get_residual_sum_of_squares(x_test_sqft,y_test_price,m,c)
RSS_test_bedrooms_price=get_residual_sum_of_squares(x_test_bedrooms,y_test_price,m1,c1)

In [23]:
print(RSS_test_sqft_price,RSS_test_bedrooms_price)

275402933617812.12 493364585960300.9